body, html {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	height: 100%;
	background-color #f3fcfe;
	
}

/*======================= Background Images ====================*/

.pimg1, .pimg3 {
	position: relative;
	opacity: .7;
	background-repeat: no-repeat;
}

.pimg1 {
	background-image: url('../imagesCopy/world-map-copy.jpg');
	background-size: cover;
	background-position: center;
	min-height: 100%;
}

.pimg3 {
	background-image: url('../imagesCopy/footerimage2-copy.jpg');
	min-height: 100%;
	background-position: center center;
}

/*----------------------------------------------------------------*/

.ptext {
	margin: auto;
	top: 50%; left: 50%;
	transform: translate(-50%,-50%);

	position: absolute;
	width: 60%;
	text-align: center;
	font-size: 1.2rem;
	letter-spacing: 4px;
	background-color: #7D6E86;
	color: white;
	padding: 20px;
}


/* ===================== Light/Dark Block Section Styling =============*/
.section {
	padding: 50px 35px;
	text-align: center;
	line-height: 1.8em;
}

.section-light {
	background-color: #f4f4f4;
	color: #666;
}

.continent-section-light {
	background-color #fcfcfc;
	background-color: #fff;
}

.section-dark {
	background-color: #282e34;
	color: #ddd;
}

.continent {
	text-align: center;
	background-color #626262;
	color white;
	padding: 20px;
}

/* ============== Section Header and Blockquote =============================*/

.continent-title {
	font-family: 'Cormorant Upright', serif;
	letter-spacing: 2px;
	font-size: 2.1rem;
	margin-right: 8px;
	margin-bottom: 0;
	margin-top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

blockquote {
	font-family: 'Cormorant Upright', serif;
	font-size: 1.4rem;
	letter-spacing: .6px;
	font-weight: lighter;
	margin-top: 1rem;
	margin-top: .5rem;
}

/* ======================= Continent Icons =========================== */

.no-border { /* this is the continent icon */
	margin-top: 10%;
	padding: 5px;
	border: none;
	width: 75px;
	height: 75px;
}

.continent-light {
	filter: invert(95%);
}

.expand-button {
	margin-left: 8px;
	cursor: pointer;
	background: none;
	border: none;
	outline: none;
	border-radius: 50%;
	transition: .4s;
}

.expand-button:hover, .expand-button:focus {
	background-color: #63B4B4;
}

/*========================GALLERY IMAGES============================*/

.gallery {
	margin: 3rem auto 2rem auto;
	display: none;
}

.active {
	display: block;
}

img {
	width: 98%;
}

.border-light img {
	border: 3px double #f4f4f4;
}

.border-dark img {
	border: 3px double #000;
}

.photo-container {
	margin-bottom: 1.5rem;
}

.photo-container:last-child {
	margin-bottom: 0;
}

/*====================== Lightbox Images ===========================*/
.not-active {
 pointer-events: none;
 cursor: default;
}

/*=========================== Footer ===================================*/

.footer-text {
	border: 2px solid red;
	position: absolute;

	margin: auto;
	top: 80%; 
	left: 50%;
	transform: translate(-50%,-50%);
	width: 80%;

	text-align: center;
	font-size: 1.2rem;
	font-weight: 100;
	letter-spacing: 3.5px;
	background-color: rgba(17, 17, 17, .9);
	color: white;
	padding: 20px;
	display: flex;
}

.close-btn {
 	font-size: 1.6rem;
	display: none;
	background-color: #63B4B4;
	cursor: pointer;
	outline: none;
	border: 1px solid pink;
	border-radius: 10px;
}

.close-btn:hover, .close-btn:focus {
	background-color: #ffe2e7;
}

.active-btn {
	display: inline-block;


/* =================== MEDIA QUERIES ========================= */

@media all and (min-width: 660px){

	.pimg1, .pimg2, .pimg3 {
		background-attachment: fixed;
	}
	
	.section {
		padding: 50px 80px;
	}

	.gallery {
		margin: 3rem 5rem 5rem 5rem;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 1.5rem;
	}

	.photo-container {
		margin-bottom: 0;
	}

	button, .no-border {
		display: none;
	}

	h2 {
		margin-right: 0;
		margin-top: 19.92px;
		margin-bottom: 19.92px;
		text-align: center;
	}

	#close-btn {
		display: none;
	}

	.not-active {
 		pointer-events: auto;
 		cursor: pointer;
	}
	
}




